body {
    background-color: #111;
}

.grid_2 {
    display: grid;
    margin: 0 auto;
    min-width: 200px;
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 200px;
}

.grid_2 input {
    width: calc(100% - 22px);
    border: none;
    padding: 10px;
    background-color: #eee;
    border-left: 2px solid crimson;
}

.grid_5 {
    display: grid;
    margin: 0 auto;
    min-width: 200px;
    max-width: 960px;
    display: grid;
    grid-template-columns: 100px auto auto 60px 60px;
}

.grid_5 .cell {
    background-color: royalblue;
    padding: 10px;
}

.grid_5 .cell:nth-child(2n) {
    background-color: skyblue;
}

p {
    margin: 0;
    padding: 0;
}