html
    head
        title Raidap
        meta(charset='UTF-8')
        link(href="../build/raidap.css" rel="stylesheet")
    body
        .raidap.test
            nav.up
                ul
                    a(href="#")
                        li first
                    a(href="#")
                        li second
                    a(href="#")
                        li third
            hr
            h1.center.up Raidap is awesome 12-cols framework
            h2.center it is really kicks bootstap's ass, no exceptions
            p.right version 0.0.4
            .box
                .col1 i am first
                .col1.center i am center
                .col1.right i am right
                .col1 i can <br/> multiple <br/> lines
                .col1
                    img(src="img/test.png")
                .col1
                    img.round(src="img/test.png")
                .col1 1 
                .col1 1 
                .col1 1 
                .col1 1 
                .col1 1 
                .col1 1 
                
                .col2
                    p.center
                        |text 
                        span.bold bold 
                        |end
                .col2 2
                .col2 2
                .col2 2
                .col2 2
                .col2 2
                
                .col3 3
                .col3 3
                .col3 3
                .col3 3
                
                .col4 4
                .col4 4
                .col4 4
                
                .col5 5
                .col1 1
                .col1 1
                .col1 1
                .col1 1
                .col1 1
                .col1 1
                .col1 1
            
                .col6 6
                .col1 1
                .col1 1
                .col1 1
                .col1 1
                .col1 1
                .col1 1

                .col7 7
                .col1 1
                .col1 1
                .col1 1
                .col1 1
                .col1 1
                
                .col8 8
                .col1 1
                .col1 1
                .col1 1
                .col1 1
                
                .col9 9
                .col1 1
                .col1 1
                .col1 1
                
                .col10 10
                .col1 1
                .col1 1
                
                .col11 11
                .col1 1
                
                .col12 12
                
                .col 1
                .col.center 2
                .col.right 3